{{ ansible_managed | comment }}
<VirtualHost *:{{ httpd_plaintext_port }}>
  ServerName {{ httpd_hostname }}

{% if httpd_default_vhost_ssl_redirect %}
  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% else %}
  DocumentRoot {{ httpd_default_docroot_dir | quote }}
  <Directory {{ httpd_default_docroot_dir | quote }}>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>
{% endif %}
</VirtualHost>