<VirtualHost *:{{ httpd_ssl_port }}>
  ServerName {{ httpd_hostname }}

  DocumentRoot {{ httpd_default_docroot_dir | quote }}
  <Directory {{ httpd_default_docroot_dir | quote }}>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>

  SSLEngine on
  SSLCertificateFile {{ httpd_defaultcert }}
  SSLCertificateKeyFile {{ httpd_defaultkey }}
  SSLCACertificatePath {{ httpd_defaultCA }}
</VirtualHost>