<VirtualHost *:{{ httpd_cleartext_port }}>
  ServerName {{ httpd_hostname }}

  DocumentRoot {{ httpd_default_docroot_dir | quote }}
  <Directory {{ httpd_default_docroot_dir | quote }}>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>
</VirtualHost>