<VirtualHost *:{{ httpd_plaintext_port }}>
  ServerName {{ httpd_hostname }}

  DocumentRoot {{ httpd_default_docroot_dir | quote }}
  <Directory {{ httpd_default_docroot_dir | quote }}>
      Options FollowSymLinks

      AllowOverride None

      Order allow,deny
      Allow from all
  </Directory>
</VirtualHost>