#!/bin/bash
{{ ansible_managed | comment }}

echo "Starting httpd."

{% if httpd_is_systemd %}
sudo /usr/bin/systemctl start {{ httpd_servicename }}
{% else %}
sudo /sbin/service {{ httpd_servicename }} start
{% endif %}