ServerRoot {{ httpd_serverroot | quote }}

Listen {{ httpd_plaintext_port }}

User {{ httpd_user }}
Group {{ httpd_group }}

Include {{ httpd_moduleconf_dir }}/*.conf
IncludeOptional {{ httpd_confd_dir }}/*.conf

ServerAdmin {{ httpd_serveradmin }}

PidFile run/httpd.pid

Timeout 60

KeepAlive Off

MaxKeepAliveRequests 100

KeepAliveTimeout 15

AddDefaultCharset UTF-8

<Directory />
    Options FollowSymLinks
    AllowOverride None
</Directory>

DirectoryIndex index.html index.html.var

{% if httpd_allow_htaccess %}
AccessFileName .htaccess

<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

{% endif %}

ErrorLog {{ httpd_log_dir }}/error_log

LogLevel warn

LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

CustomLog {{ httpd_log_dir }}/access_log combined

ServerSignature On
ServerTokens OS

<IfModule mod_dav_fs.c>
    DAVLockDB /var/lib/dav/lockdb
</IfModule>

Alias /error/ "/var/www/error/"

<IfModule mod_negotiation.c>
<IfModule mod_include.c>
    <Directory "/var/www/error">
        AllowOverride None
        Options IncludesNoExec
        AddOutputFilter Includes html
        AddHandler type-map var
        Order allow,deny
        Allow from all
        LanguagePriority en es de fr
        ForceLanguagePriority Prefer Fallback
    </Directory>


</IfModule>
</IfModule>

<IfModule prefork.c>
StartServers       8
MinSpareServers    5
MaxSpareServers   20
ServerLimit      256
MaxClients       256
MaxRequestsPerChild  4000
</IfModule>

<IfModule worker.c>
StartServers         4
MaxClients         300
MinSpareThreads     25
MaxSpareThreads     75 
ThreadsPerChild     25
MaxRequestsPerChild  0
</IfModule>

<IfModule mod_userdir.c>
    UserDir disabled

</IfModule>

IncludeOptional {{ httpd_vhost_dir }}/*.conf